<<<<<<< HEAD
body {
    height: 100%;
    margin: 0;
    font-family: Vazirmatn,
=======
html {
  height: max(100vh, max-content);
}

body {
  height: 100%;
  margin: 0;
  font-family:
    Vazirmatn,
>>>>>>> 54ba37360b77af2fd181cacd6acd38c29f4c6f17
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
<<<<<<< HEAD
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
=======
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
>>>>>>> 54ba37360b77af2fd181cacd6acd38c29f4c6f17
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
<<<<<<< HEAD
    text-align: center;

    background: linear-gradient(to right, #00566f, #00566f, #0aa);
    height: 100%;
=======
  text-align: center;

  background: linear-gradient(to right, #00566f, #00566f, #0aa);
  height: 100%;
>>>>>>> 54ba37360b77af2fd181cacd6acd38c29f4c6f17
}
